<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAd3IBJrsc7rWAqtD2Fk9kWzESYOA8TgI</string>
	<key>GCM_SENDER_ID</key>
	<string>222916765082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTodo</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-e2edd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-e2edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222916765082:ios:c3d6571a7f21a233e00623</string>
</dict>
</plist>